<!doctype htlm>
<htlm lang ="fr">
<head>
<meta charset="utf 8">
</head>
	 <link rel="stylesheet" href="style_aide.css">
		 <p>Bonjour, et Bienvenue a vous sur notre site : Revischool</br>
		 </br>
         En quoi consiste Revischool ?</br> 
         C'est tout simple , c'est un site qui est basé sur l'éducation nationale ;)</br>
         Vous l'auriez compris un site basé pour les étudiants. </br>
         </br>
         Dans ce site, vous avez des fiches de révision qui sont a votre disposition , basé pour tout niveau</br>
         évoluant au Lycée.</br>
         </br>
         Si vous avez des questions bien plus avancées,</br> 
         </br> 
         N'hésitez pas a nous contacter sur nos réseaux sociaux :</br> 
         </br> 
          Notre instagram : https://www.instagram.com/revischool/?hl=fr</br> 
          Notre twitter : https://twitter.com/revischool</br> 
         </br> 
          Bien Cordialement, </br> 
         
          L'équipe Revischool ')</br>