<!doctype html>
<html lang="fr-FR">
	<head><meta charset="utf-8"></head>
	<body>

		<form action = "/ajouteEntree" method = 'POST'>
			<h3>Données de l'élève</h3>
			
			<label for ="prenom">Prénom</label>
			<input type = "text" name ="prenom" id = "prenom" required/></br>
			<h3></h3>
			
			<label for ="nom">Nom</label>
			<input type ="text" name="nom" id = "nom" required/></br>
			<h3></h3>
			
			<label for ="niveau">Niveau de classe</label> 
			<select name="niveau" id = "niveau" required</br>
				<option value="Seconde">Seconde</option>
				<option value="Premiere">Premiere</option>
				<option value="Terminale">Terminale</option>
			</select>
			<h3></h3>
			
			<label for ="date">Date de naissance</label>
			<input type ="text" name="date" id = "date"  placeholder = "2003-10-29" required/></br>
			<h3></h3>
			
			<label for ="mail">E-mail</label>
			<input type ="text" name="mail" id = "mail" required/></br>
			<h3></h3>
			
			<button name="Enregistrer" , type="submit">Enregistrer</button><br>
			<h3><a href ="/">Retourner à la page d'accueil</a></h3>
		</form>
		
	</body>
</html>