body {
    margin: 0 auto;
    background: url('../image/arriere_plan_site.jpg');
    background-size: 100%;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
    background-color: rgba(133, 128, 128, 0.411);
}

header.header img {
    width: 150px;
}


.landing-page {
    position: relative;
    padding: 20px 50px;
}

.big-title {
    color: rgb(0, 0, 0);
    font-size:  120px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}
h1{
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 600%
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li a {
    color: white;
    text-decoration: none;
}

