body {
    margin: 0 auto;
    background: url('20210520_174318204_iOS.jpg');
    background-size: 100%;
}
p
{
text-align: center;
font-family: Comic sans MS;
font-size: 40;
color: lightblue;
-webkit-text-stroke: 2px black;
}